.place-order {
  min-width: 90%;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-margin {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .address {
    margin-bottom: 2rem !important;
  }
}
