.header {
  width: 90%;
  height: 40vw;
  background: url("/public/header_img.png") no-repeat;
  background-size: contain;
  margin: 30px auto;
  position: relative;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.header-content {
  max-width: 50%;
  gap: 1.5vw;
  bottom: 10%;
  left: 6vw;
  color: white;
}

.header-content h2 {
  font-weight: 500;
  font-size: 3rem;
}
