.header {
  width: 90%;
  height: 40vw;
  background: url("/public/header_img.png") no-repeat;
  background-size: contain;
  margin: 30px auto;
  position: relative;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.header-content {
  max-width: 50%;
  gap: 1.5vw;
  bottom: 10%;
  left: 6vw;
  color: white;
}

.header-content h2 {
  font-weight: 500;
  font-size: 3rem;
}

@media (max-width: 1050px) {
  .header {
    max-height: 38vw;
    padding: 1rem;
  }

  .header-content {
    max-width: 45%;
  }

  .header-content h2 {
    font-weight: 500;
    font-size: 1rem;
  }
}

@media (max-width: 750px) {
  .header {
    padding: 1rem;
  }
  .header-content {
    max-width: 55%;
  }
  .header-content p {
    display: none;
  }
  .header-content h2 {
    font-weight: 500;
    font-size: 1rem;
  }
}
