@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  font-family: outfit;
}

.spacing {
  margin: 0 15px;
  cursor: pointer;
}

.navv {
  width: 90%;
}

.pages {
  font-size: 1.2rem;
}

.logo {
  width: 7em;
}

.current {
  color: blueviolet !important;
}

.nav-items {
  text-decoration: none;
}

.cart-icon {
  color: grey;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  height: 2rem;
  width: 2rem;
}

.cart-iconn {
  color: tomato;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  height: 2rem;
  width: 2rem;
}
