@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  font-family: outfit;
}

.spacing {
  margin: 0 15px;
  cursor: pointer;
}

.navv {
  width: 90%;
}

.pages {
  font-size: 1.2rem;
}

.logo {
  width: 7em;
}

.current {
  color: blueviolet !important;
}

.nav-items {
  text-decoration: none;
}

.cart-icon {
  color: grey;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  height: 2rem;
  width: 2rem;
}

.cart-iconn {
  color: tomato;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  height: 2rem;
  width: 2rem;
}

.profile {
  position: relative;
}

.profile-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  width: 8rem;
}

.profile-dropdown img {
  height: 1.5rem;
  width: 1.5rem;
}

.profile-dropdown li {
  cursor: pointer;
}

.profile:hover .profile-dropdown {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: aliceblue;
  border: 1px solid tomato;
  padding: 1rem;
  border-radius: 0.2rem;
}
