@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  font-family: outfit;
}

.spacing {
  margin: 0 15px;
}

.navv {
  width: 90%;
}

.pages {
  font-size: 1.2rem;
}

.logo {
  width: 7em;
}

.current {
  color: blueviolet !important;
}
