.food-img {
  background-size: cover;
}

.food-card {
  padding: 0% !important;
  margin: 1rem 1rem 0 0;
}

.add-icon {
  width: 2rem;
}

.mar1 {
  margin-right: 0.3rem;
}

.mar2 {
  margin-left: 0.3rem;
}
